# Config level log del aplicación
LOG_LEVEL="DEBUG"


# Variable de la base de datos / Docker compose 
POSTGRES_USER = "postgres"
POSTGRES_PASSWORD = "12345678"
POSTGRES_PORT = "5432"
POSTGRES_DB = "secop_db"
POSTGRES_DATA = "Ubicación deseada para el volumen"

# Claves de Socrata que permite acceder a la API
SOCRATA_APP_TOKEN = "secret_token"